<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<title>Mentions légales</title>
</head>
<body style="font-family:sans-serif; max-width:900px; margin:40px auto; line-height:1.7;">

<h1>Mentions légales</h1>

<p><strong>Éditeur du site :</strong><br>
Société :Tradingsignals<br>

Email : supportTradingsignals@gmail.com<br>
</p>

<p><strong>Hébergement :</strong><br>
Render.com<br>
Cloud Platform
</p>

<h2>Activité</h2>
<p>
Le site propose un service de signaux de trading et d’analyses de marché.
</p>

<h2>Responsabilité</h2>
<p>
Les informations fournies sont données à titre indicatif uniquement.
L’éditeur ne peut être tenu responsable des pertes financières liées à l’utilisation des informations présentes sur le site.
</p>

</body>
</html>