<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Paiement réussi</title>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-02LMXNBVH8"></script>

    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-02LMXNBVH8');

      gtag('event', 'premium_subscription', {
          value: 30,
          currency: 'EUR'
      });
    </script>

</head>
<body>

<h1>Paiement réussi ✅</h1>

</body>
</html>